@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Books" asp-action="Index" class="btn btn-primary">Browse Books</a>
    <a asp-controller="Books" asp-action="Create" class="btn btn-primary">Add a book</a>

</div>
